<div class="project-add-modal" id="kb-help-modal" style="display:none">
  <div class="project-add-card">
    <button class="modal-close" onclick="document.getElementById('kb-help-modal').style.display='none'">&times;</button>
    <h3>Raccourcis clavier</h3>

    <h4>Navigation</h4>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>&larr;</kbd> <kbd>&rarr;</kbd></div><div class="kb-help-label">Colonne pr&eacute;c&eacute;dente / suivante</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>&uarr;</kbd> <kbd>&darr;</kbd></div><div class="kb-help-label">T&acirc;che pr&eacute;c&eacute;dente / suivante dans la colonne</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>h</kbd> <kbd>j</kbd> <kbd>k</kbd> <kbd>l</kbd></div><div class="kb-help-label">Alias Vim (gauche / bas / haut / droite)</div></div>

    <h4>Action sur la t&acirc;che s&eacute;lectionn&eacute;e</h4>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>Enter</kbd></div><div class="kb-help-label">Ouvrir le d&eacute;tail</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>e</kbd></div><div class="kb-help-label">&Eacute;diter</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>f</kbd></div><div class="kb-help-label">Plein &eacute;cran</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>c</kbd></div><div class="kb-help-label">Cr&eacute;er une t&acirc;che dans la m&ecirc;me colonne</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>Esc</kbd></div><div class="kb-help-label">D&eacute;s&eacute;lectionner / fermer modal / fermer plein &eacute;cran</div></div>

    <h4>Modal de t&acirc;che</h4>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>Enter</kbd></div><div class="kb-help-label">Sauver (depuis un champ texte court)</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>&#8984;</kbd>+<kbd>Enter</kbd></div><div class="kb-help-label">Sauver (depuis la description, Ctrl+Enter sur Linux/Windows)</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>Esc</kbd></div><div class="kb-help-label">Annuler / fermer</div></div>

    <h4>Page d'accueil</h4>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>&uarr;</kbd> <kbd>&darr;</kbd> <kbd>&larr;</kbd> <kbd>&rarr;</kbd></div><div class="kb-help-label">Naviguer entre les cat&eacute;gories</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>Enter</kbd></div><div class="kb-help-label">Ouvrir la cat&eacute;gorie s&eacute;lectionn&eacute;e</div></div>

    <h4>Navigation entre boards</h4>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>&darr;</kbd></div><div class="kb-help-label">En bas de colonne : passe au board suivant (premi&egrave;re t&acirc;che)</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>&uarr;</kbd></div><div class="kb-help-label">En haut de colonne : passe au board pr&eacute;c&eacute;dent (derni&egrave;re t&acirc;che)</div></div>

    <h4>Global</h4>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>?</kbd></div><div class="kb-help-label">Afficher cette aide</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>g</kbd> puis <kbd>h</kbd></div><div class="kb-help-label">Accueil</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>g</kbd> puis <kbd>b</kbd></div><div class="kb-help-label">Admin board</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>g</kbd> puis <kbd>u</kbd></div><div class="kb-help-label">Admin utilisateurs</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>g</kbd> puis <kbd>k</kbd></div><div class="kb-help-label">Admin cl&eacute;s API</div></div>
    <div class="kb-help-row"><div class="kb-help-keys"><kbd>g</kbd> puis <kbd>l</kbd></div><div class="kb-help-label">D&eacute;connexion</div></div>
  </div>
</div>
