<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ prefix }}style.css">
<script src="{{ prefix }}sortable.min.js"></script>
<script src="{{ prefix }}marked.min.js"></script>
<script src="{{ prefix }}dompurify.min.js"></script>
</head>
<body>
{% block body %}{% endblock %}

{% include "modals/task.html" %}
{% include "modals/confirm.html" %}
{% include "modals/error.html" %}
{% block modals %}{% endblock %}
{% block scripts %}{% endblock %}

<script defer src="{{ prefix }}app.js"></script>
</body>
</html>
